.headerMain{
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
}

.logo{
    font-weight: 700;
    text-transform: uppercase;
}

.navLinks{
    display: flex;
    gap: 3em;
}

.navLinks a{
    text-decoration: none;
    color: white;
}