.card{
    background-color: #14144F;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1em;
    border-radius: 1.25em;
}

.card h4{
    font-size: 1.25rem;
    font-weight: 600;
}

.card p{
    font-size: 1rem;
    line-height: 1.2rem;
}

.cardImg{
    width: 7em;
    position: absolute;
    height: 7em;
    border-radius: 50%;
    transform: translateY(-70%);
}

.cardText{
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media screen and (min-width: 1024px){
    .card{
        padding: 2em 3em;
    }
}