.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
  gap: 8em;
}

@media screen and (max-width: 1280px){
  .main{
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 768px){
  .main{
    margin-left: 20px;
    margin-right: 20px;
  }
}