.anaContainer{
    display: flex;
    flex-direction:  column;
    gap: 2em;
}

.textImgContainer{
    display: flex;
    align-items: center;
    gap: 3em;
}

.analyticsImage{
    width: 23em;
    height: 23em;
}

.textImgContainer h4{
    font-size: 1.25rem;
    text-transform: uppercase;
    color: rgba(170, 217, 217, 0.5);
}

.textContainer{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.textContainer h2{
    font-size: 2.5rem;
    text-transform: capitalize;
    max-width: 9em;
}

.textContainer p{
    font-size: 1.125rem;
    line-height: 1.7rem;
    max-width: 16em;
}

.analyticsButton{
    background-color: #8C8CDA;
    border: none;
    padding: 0.7em 2em;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: white;
    border-radius: 5em;
    font-weight: 600;
    cursor: pointer;
}

.textImgContainer1{
    align-self: flex-end;
}

@media screen and (max-width: 767px){

    .textImgContainer1{
        flex-direction: column;
    }

    .textImgContainer2{
        flex-direction: column-reverse;
    }

    .analyticsImage{
        width: 16em;
        height: 16em;
    }
}

@media screen and (max-width: 1023px){
    .analyticsImage{
        width: 20em;
        height: 20em;
    }
    .anaContainer{
        gap: 5em;
    }
}